* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width: 670px) { 
.form-inline{
    opacity: 0  ;
}
}


header {
    position: absolute;
    width: 100%;
}

#collapsibleNavbar{
    position: absolute;
    width: 100%;
    top: 100%;
}

header .contaiiner {
    width: 79%;
    margin: auto;
}

header .navbar .navbar-brand {
    font-size: 2rem;
}

header .navbar .navbar-brand {
    font-weight: bold;
    font-size: 2.5rem;
}

#basic-addon1 {
    border: none;
    background-color: #232220;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-group .form-control{
    background: #232220;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 45px;
}

.input-group-text i {
    cursor: pointer;
    
}

.input-group input {
    border: none;
    background-color: white;
}

header .form-inline {
    position: absolute;
    padding-right: 150px;
    right: 0;
}

header .moon {
    position: absolute;
    right: 0;
    padding-right: 100px;
    font-size: 25px;
    color: white;
}

header .navbar-toggler {
    border: none;
    z-index: 1;
}

header .navbar-toggler i {
    color: white;
    font-size: 30px;

}

#collapsibleNavbar {
    background-color: black;
    opacity: 0.9;
}

.navbar-nav a {
    color: red;
}

header .navbar-nav .nav-item .nav-link {
    color: white;
}



#carousel {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
        url(./image/banner1.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

#carousel .container {
    max-width: 1200px;
}

.carousel__text {
    max-width: 600px;
    text-align: left;
}

.carousel__text h1 {
    color: #fff;
    font-size: 54px;
    line-height: 64px;
    font-weight: bold;
    text-transform: capitalize;
}

.carousel__text p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.button {
    padding: 15px 45px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: all 0.5s;
}


.button:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}

.book{
   background-color: #ff6600; 
}

@media (max-width: 768px) { 
    .aboutus__content .row .aboutus__lorem{
        margin-left: -27px;
    }
 }

 @media (max-width: 578px) { 
    .aboutus__content .row {
        padding-left: 40px;
    }
 }

@media (max-width: 767px) { 
 .book__img{
    margin: 40px 20px;
 }
 .book__footer .row{
    text-align: center;
 }
}

.about__us{
    background-color: #232220;
}

#carousel .carousel__content {
    padding-top: 150px;
}

.aboutus__content .aboutus__title {
    margin-left: -30px;
}

.aboutus__content .aboutus__title h6 {
    color: #ff6600;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
}

.aboutus__content .aboutus__title p {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: #eee;
}

.aboutus__content .aboutus__lorem {
    color: rgb(91 96 108);
    font-size: 18px;
    margin-left: 30px;
    color: #eee;
}

/* .row{
    display: flex;
    flex-wrap: wrap;
} */

.book__content .book__img {
    background-image: url(./image/image04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    min-height: 600px;
}

.book__content .book__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.book__right {
    background-color: #ff6600;
    padding: 60px 80px;
}

.book__right .book__header h5 {
    color: #fff;
    font-family: cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px
}

.book__right .book__header h3 {
    font-weight: 600;
    line-height: 48px;
    font-size: 38px;
}

.book__right .book__header p {
    color: #ffdfc9;
    font-size: 18px;
}

.book__footer .row i {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: white;
    font-size: 23px;
    border-radius: 10px;
    color: #ff6600;
    transition: all 0.5s;
}

.book__footer .col-md-6:hover i {
    color: #fcb900;
}

.book__footer .row h5 {
    font-weight: bold;
    cursor: pointer;
}

.book__footer .row p {
    color: #ffdfc9;
    font-size: 18px;
}

.book__content {
    overflow: hidden;
}

.new{
    background: #232220f7;
}

.new .new__title h5 {
    font-family: 'Pacifico', cursive;
    color: #ff6600;
    text-align: center;
}

.new .new__title h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #eee;
}

.card {
    position: relative;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    border-radius: 10px;
}

.card .card-img-top{
    border-radius: 10px;
    transition: all 0.5s;
}

.card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 190px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    border-radius: 10px;
}

.card .image__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 40px;
    z-index: 1;
    padding-bottom: 10px;
}

.card .image__overlay h4{
    color: #fff;
    font-weight: 600;
}

.card .image__overlay p{
    font-weight: 600;
    color: #ffc600;
    font-size: 20px;
}

.card .card-img-top:hover{
    opacity: 0.85;
}

.new__content .row .col-md-4{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.box{
    background-color: #232220;
}

.box__header i{
    padding: 22px;
    background: rgb(130 115 252 / 5%);
    border-radius: 5px;
    font-size: 25px;
    color: #ff6600;
    transition: all 0.5s;
}

.box__header{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}

.box__title p{
    margin-bottom: 0px;
    margin-top: 1px;
    font-size: 20px;
    color: #eee;
}

.box__title h3 a{
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    color: #eee;
}

.box__all{
    padding: 40px;
    border: 1px solid #80808080;
    border-radius: 8px;
    transition: all 0.5s;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    color: #eee;
}

.box__all:hover{
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.box__all:hover i{
    background-color: #ff6600;
    color: #fff;
}
